<form id="{{idPrefix}}Form">
	<div class="form-floating mb-3">
		<select class="form-select" id="{{idPrefix}}ProductGroup">
			<option selected>Select a Group</option>
			{{#each groups}}
			<option value="{{this.pathname}}">{{this.value}}</option>
			{{/each}}
		</select>
		<label for="{{idPrefix}}ProductGroup">Product Group</label>
	</div>

	<div class="form-floating mb-3 editOnly productSelection" style="display:none;">
		<select class="form-select" id="{{idPrefix}}Product">
		</select>
		<label for="{{idPrefix}}Product">Product</label>
	</div>

	<div class="form-floating mb-3 editOption">
		<input type="text" class="form-control" id="{{idPrefix}}ProductName">
		<label for="{{idPrefix}}ProductName">Product Name</label>
	</div>

	<div class="form-floating mb-3 editOption">
		<input type="text" class="form-control" id="{{idPrefix}}ImagePath">
		<label for="{{idPrefix}}ImagePath">Image Path</label>
	</div>

	<div id="{{idPrefix}}VendorLinks">
	{{{vendorLinks}}}
	</div>

	<button type="submit" class="btn btn-green editOption">Submit</button>
	<div class="alert alert-dark"><pre class="alerttext"></pre></div>
</form>