<form id="{{idPrefix}}Form">
	<div class="form-floating mb-3">
		<select class="form-select" id="{{idPrefix}}ProductGroup">
			<option selected>Select a Group</option>
			{{#each groups}}
			<option value="{{this.groupid}}" data-categories="{{this.categories}}">{{this.value}}</option>
			{{/each}}
		</select>
		<label for="{{idPrefix}}ProductGroup">Product Group</label>
	</div>

	<div class="form-floating">
		<textarea class="form-control" id="{{idPrefix}}Data" rows="20"></textarea>
		<label for="{{idPrefix}}Data"></label>
	</div>

	<button type="submit" class="btn btn-green">Submit</button>
</form>