<form id="{{idPrefix}}Form">
	<div class="form-floating mb-3 groupSelection" style="display:none;">
		<select class="form-select" id="{{idPrefix}}ProductGroup">
			<option selected>Select a Group</option>
			{{#each groups}}
			<option value="{{this.pathname}}">{{this.value}}</option>
			{{/each}}
		</select>
		<label for="{{idPrefix}}ProductGroup">Product Group</label>
	</div>

	<div class="form-floating mb-3 editOnly">
		<input type="text" class="form-control" id="{{idPrefix}}GroupName">
		<label for="{{idPrefix}}GroupName">Group Name</label>
	</div>

	<div class="form-floating mb-3 editOnly">
		<input type="text" class="form-control" id="{{idPrefix}}Categories">
		<label for="{{idPrefix}}Categories">Categories (tab deliminated)</label>
	</div>

	<div class="form-floating mb-3 editOnly">
		<input type="text" class="form-control" id="{{idPrefix}}Description">
		<label for="{{idPrefix}}Description">Description</label>
	</div>

	<div class="form-floating mb-3 editOnly">
		<input type="text" class="form-control" id="{{idPrefix}}ImageFilename">
		<label for="{{idPrefix}}ImageFilename">Image Filename (singular)</label>
	</div>

	<div class="form-floating mb-3 editOnly">
		<input type="text" class="form-control" id="{{idPrefix}}ImageFolder">
		<label for="{{idPrefix}}ImageFolder">Image Folder (plural with dashes)</label>
	</div>

	<div class="form-floating mb-3 editOnly">
		<input type="text" class="form-control" id="{{idPrefix}}Spreadsheet">
		<label for="{{idPrefix}}Spreadsheet">Spreadsheet</label>
	</div>

	<button type="submit editOnly" class="btn btn-green">Submit</button>
</form>