<tr data-tags="{{tagids}}">
	<th scope="row" data-label="Product">
		<strong>{{name}}</strong><br>
		<img src="{{image}}" class="img-thumbnail" alt="{{name}}">
	</th>
	{{#each categories}}
	<td data-label={{this.category}}>
		<div class="tags collapse" id="collapse{{../productid}}-{{@index}}">
			{{{this.tag}}}
		</div>
		<a class="showmore d-none" data-bs-toggle="collapse" href="#collapse{{../productid}}-{{@index}}" aria-expanded="false" aria-controls="collapse{{../productid}}-{{@index}}">
			Show <span class="more">more</span> <span class="less">less</span>
		</a>
	</td>
	{{/each}}
	<td data-label="Vendors">
		<div class="list-group">
			{{#each links}}
			<a href="{{this.link}}" class="list-group-item list-group-item-action list-group-item-green" target="_blank">{{this.vendor}}</a>
			{{/each}}
		</div>
	</td>
</tr>
