<tr>
	<th scope="row" data-label="Product">
		<strong>{{name}}</strong><br>
		<img src="{{image}}" width="100" alt="{{name}}">
	</th>
	{{#each categories}}
	<td data-label={{this.category}}>{{this.tag}}</td>
	{{/each}}
	<td data-label="Vendors">
		<div class="list-group">
			{{#each links}}
			<a href="{{this.link}}" class="list-group-item list-group-item-action list-group-item-green" target="_blank">{{this.vendor}}</a>
			{{/each}}
		</div>
	</td>
</tr>
