<p>{{value}}</p>
<div class="btn-group-vertical" role="group" aria-label="{{value}} options">
{{#each tags}}
	<input type="checkbox" class="btn-check" name="{{categoryid}}" id="tag{{this.tagid}}" value="{{this.tagid}}" autocomplete="off" checked="">
	<label class="btn btn-outline-success" for="tag{{this.tagid}}">{{this.value}}</label>
{{/each}}
</div>