<div class="col-6 col-sm-12">
	<p class="h6 mt-4">{{value}}</p>
	<div class="btn-group-vertical btn-group-sm full-width" role="group" aria-label="{{value}} options">
	{{#each tags}}
		<input type="checkbox" class="btn-check" name="{{@categoryid}}" id="tag{{this.tagid}}" value="{{this.tagid}}" autocomplete="off">
		<label class="btn btn-outline-green" for="tag{{this.tagid}}">{{this.value}}</label>
	{{/each}}
		<button type="button" class="btn btn-outline-green">Show <span class="all">All</span><span class="less">Less</span></button>
	</div>
</div>