<td data-label="{{category}}">
	<div class="tags collapse" id="collapse{{escapedname}}-{{index}}">
		{{{tags}}}
	</div>
	<a class="showmore collapsed d-none" data-bs-toggle="collapse" href="#collapse{{escapedname}}-{{index}}" aria-expanded="false" aria-controls="collapse{{escapedname}}-{{index}}">
		Show <span class="more">more</span> <span class="less">less</span>
	</a>
</td>